*{margin:0;
  padding:0;
  box-sizing:border-box;}

.main{position: absolute;
      left:50%;
      top:50%;
      transform:translate(-50%,-50%);
      }

.outer{border:1px solid black;
       width:360px;
        height:600px;
        border-radius:25px;
}

.inner{border:1px solid black;
       width:330px;
        height:530px;
        margin:28px 14px;
        border-radius:13px;
        background:#fff;
        }

.speaker{border:2px solid black;
        width:95px;
        height:12px;
        margin:-21px 135px;
        border-radius:10px;
         background-color:white;}

.dot1{border:1px solid black;}

.but1 button{width:13px;
       height:58px;
       margin:-455px 352px;
       border-radius:10px;}
button:hover{background-color:red;transition:0.2s;color:white;}
button:active{background-color:green;transform: translateX(-3px);}

.inner{background-image:url("img.jpg");background-repeat: no-repeat;
      background-position:center;
      background-size:cover;
      display: none;}

.inner1{border:1px solid black;
        width:330px;
         height:530px;
         margin:59px 298px;
         border-radius:13px;
         background:black;}

.mainb{border:1px solid black;
        width:360px;
         height:600px;
         border-radius:25px;
        margin:-30px 281;
        background-image:url("gold.jpg");
        background-position:center;
        background-repeat:no-repeat;
        background-size:cover;
         position:absolute;
        z-index:-1;}
.but2 button{margin:-380px 352px;
        width:13px;
        height:58px;
        border-radius:10px;
        }
.inner img{width:55px;
           margin:455 10px;
            cursor: pointer;
            }
.down{margin-left:9px;
      margin-top:-103px}

.inner .row1{margin-top:-300;}
#browser{padding:3px;}
#camera{padding:3px;}
.row1 img{padding:3;}

.inner .row2{margin-top:-298;}
.row2 img{padding:3;}

.inner .row3{margin-top:-298;}
.row3 img{padding:3;}

.container{color:white;
           font-size:55px;
          text-align:center;
           margin-top:40px;
           }

#session{font-size:17px;
         position:absolute;
          top:13%;
          padding:0 6px;
        }




















@media(max-width:992px){
  #align{margin-left:70px;}
  #align2{transform:translateX(-10px)}
  .outer,.but1,.but2{margin-left:357;
                     margin-top:-15px}
.speaker{margin-left:500;
        margin-top:-17px}
#align2{transform:translateX(-212px);
        position:relative;
        z-index:-1;}
}




